div#panelCarga{
  border:solid 2px #000000;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright:25px;
  -moz-border-radius-bottomleft:25px;
  -moz-border-radius-bottomright:25px;
  -webkit-border-top-left-radius:25px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  margin-top: 5%;
  width: 35%;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

div#inicioCargar{
  float:right;
  padding-bottom: 5%;
}

div#error{
  color: rgba(215, 40, 40, 0.9);
}

div#info{
  padding: 3%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(106, 125, 187, 0.9);
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright:25px;
  -moz-border-radius-bottomleft:25px;
  -moz-border-radius-bottomright:25px;
  -webkit-border-top-left-radius:25px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
}

div#formulario{
  border:solid 2px #000000;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright:25px;
  -moz-border-radius-bottomleft:25px;
  -moz-border-radius-bottomright:25px;
  -webkit-border-top-left-radius:25px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  margin-top: 5%;
  width: 35%;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

div#advertencia{
  border:solid 2px #FE9A2E;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright:25px;
  -moz-border-radius-bottomleft:25px;
  -moz-border-radius-bottomright:25px;
  -webkit-border-top-left-radius:25px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  width: 35%;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}

div#exito{
  border:solid 2px #64FE2E;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright:25px;
  -moz-border-radius-bottomleft:25px;
  -moz-border-radius-bottomright:25px;
  -webkit-border-top-left-radius:25px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  width: 35%;
  -moz-box-shadow: 10px 10px 14px #000000;
  -webkit-box-shadow: 10px 10px 14px #000000;
  box-shadow: 10px 10px 14px #000000;
}
