{% extends 'base/base.html' %}
{% block content %}
<div class="container panel panel-success" id="exito">
  <div class="panel-heading">Cargar imagenes</div>
  <div class="panel-body">
    <p>Las imagenes seran traidas del repositorio para su clasificación</p>
    <p>¿Desea hacer la carga?</p>
    <button class="btn btn-success" type="button" name="button" id="btn_si_carga">Si</button>
    <button class="btn btn-danger" type="button" name="button" id="btn_no_carga">No</button>    
  </div>
</div>
{% endblock %}
