{% extends 'base/base.html' %}
{% block content %}
<div class="container panel panel-success" id="exito">
  <div class="panel-heading">Visualización de imagenes</div>
  <div class="panel-body">
    <p>A continuación encontrara las recomendaciones del sistema</p>
    <button class="btn btn-success" type="button" name="button" id="btn_visualizar">Continuar</button>
    <button class="btn btn-primary" type="button" name="button" id="btn_inicio_cl">Volver al inicio</button>
  </div>
</div>
{% endblock %}
